body
{
    position: relative;
    right: 1.5%;
    width: 80%;
    margin-left: 7%;
    background-image: url('academia.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 50%;
}
.um
{
    width: 110%;
    height: 800px;
    background:rgba(0,0,0,0.80);
    margin-bottom: auto;
    text-align: center;
    font-size: 30px;
    font-family:'Times New Roman', Times, serif;  
    font-style: italic;
    color: white;
    flex-direction: column;
    display: flex;
    border-style: solid;
    border-width: 80%;
}
h2
{
    text-align: left;
}
h5
{
    text-align: center;
}
.btn {
    box-sizing: border-box;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background-color: transparent;
    border: 2px solid #e74c3c;
    border-radius: 0.6em;
    color: #e74c3c;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    margin: 20px;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
.botao {
    border-color: white;
    color: grey;
    box-shadow: 0 0 40px 40px white inset, 0 0 0 0 white;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}
.botao:hover {
    box-shadow: 0 0 10px 0 white inset, 0 0 10px 4px white;
}
a
{
    font-size: 20px;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    color: grey;
}
.btn2 {
    position: relative;
    right: 43%;
    box-sizing: border-box;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background-color: transparent;
    border: 2px solid #e74c3c;
    border-radius: 0.6em;
    color: #e74c3c;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    margin: 20px;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
.botao2 {
    border-color: white;
    color: grey;
    box-shadow: 0 0 40px 40px white inset, 0 0 0 0 white;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}
.botao2:hover {
    box-shadow: 0 0 10px 0 white inset, 0 0 10px 4px white;
}
a
{
    font-size: 20px;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    color: grey;
}