*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background-image: url('nos\ contate.jpg');
    min-height: 100vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 1rem;
    padding-right: 1rem;
}

h1,h2
{
    font-size: 3rem;
    color: white;
    margin-bottom: 2rem;
    text-align: center;
}

h1::before {
    content: "📄";
    display: block; 
}
form
{
    width: 100%;
    max-width: 32rem;
    font-size: 1.125rem;
}

form label{
    color: #fff;
} 
form input, 
form textarea, 
form button {
    display: block;
    width: 100%;
    margin-bottom: 0.5rem;
    color: black;
}

form input,
form textarea{
    font: inherit;
    padding: 0.8rem;
    border: 1px solid transparent;
    border-radius: 8px;    
    transition: border-color,
    box-shadow 0.2s;
}

form textarea{
    min-height: 13rem;
    resize: vertical;
}

form input:hover,
form input:focus,
form textarea:hover,
form textarea:focus {
    outline: none;
    border-color: dodgerblue;
    box-shadow: 0 0 0 3px #4dc8ff;
}

form button{
    display: block;
    padding: 1rem;
    background-color: orangered;
    color: #fff;
    text-transform: uppercase;
    transition: 0.2s; 
    border-radius: 8px;  
}

form button:hover,
form button:focus {
    outline: none;
    background: #09d;
}