body
{
    background-image: url('musculacao.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
}
*{
    margin:0;
    padding:0;
    border:0;
}

.cima
{
    margin-top: 90px;
    margin-left: 5  px;
    width: 1700px;
    height: 80px;
    background-color: grey;
}