*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(to right, #0a0a0a, #454242, #538099, #00a4ff);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.container{
    position: relative;
    left: 40rem;
    top: 7rem;
    width: 20rem;
    height: 20rem;
    border-style: solid;
    border-color: white;
    border-radius: 40rem;
    box-shadow: 3px 2px 14px #fff;
}
#obrigado{
    position: relative;
    right: 0.2rem;
    bottom: 0.2rem;
    width: 20rem;
    height: 20rem;
}
.agradecimento{
    position: relative;
    left: 20rem;
    top: 14rem;
    font-size: 3rem;
    color: white;
    text-shadow: 11px 4px 10px #000;
}
::-webkit-scrollbar{
    display: none;
}