*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url('fundo2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
h1{
    position: relative;
    left: 4.5rem;
    top: 1rem;
    font-size: 8rem;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 8px 4px 20px #fff;
    font-style: italic;
}
.container
{
    position: relative;
    bottom: 40rem;
    left: 18rem;
    width: 60rem;
    height: 45rem;
    color: white;
    background-color: rgba(255,255,255,0.3);
    border-radius: 20px;
    border-style: solid;
    border-width: 2px;
    border-color: rgba(255,255,255,0.6);
    box-shadow: 10px 2px 30px #fff;
}
.container .form-control{
    height: 3rem;
    font-family: 'Courier New', Courier, monospace;
    transition: 0.370s;
    opacity: 0.6;
}
.container .form-control:hover{
    opacity: 1;
}
.button{
    width: 12rem;
    height: 3.75    rem;
    position: relative;
    left: 45rem;
    top: 3rem;
    border-style: solid;
    border-color: rgba(224, 224, 224, 0.9);
    border-width: 2px;
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgb(192, 190, 190);
    background-color: rgba(255,255,255,0.6);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.8;
    transition: 0.380s;
}
.button a{
    width: 8rem;
    height: 3.25rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    font-size: 2.55rem;
    transition: 0.370s;
}
.button:hover{
    opacity: 1;
    border-style: solid;
    border-color: #000;
    border-width: 1px;
    border-radius: 15px;
    box-shadow: 3px 5px 10px #000;
}
.button a:hover{
    color: #000;
    font-family: 'Courier New', Courier, monospace;
}
.button:active {
    background-color: #393f39;
    box-shadow: 0 5px #678;
    transform: translateY(8px);
  }
.paragraph{
    width: 15rem;
    position: relative;
    top: 2rem;
    left: 8rem;
    font-size: 5rem;
    flex-wrap: unset;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    text-shadow: 3px 3px 10px #fff;

}
.paragraph2{
    font-size: 2rem;
    font-family: 'Courier New', Courier, monospace; 
    text-shadow: 4px 4px 15px #fff;
}
#chad
{
    position: relative;
    left: 8rem;
    top: 3rem;
    width: 20rem;
    height: 20rem;
    border-radius: 10rem;
}
::-webkit-scrollbar{
    display: none;
}