body
{
    width: 80%;
    margin-left: 7%;
    background-image: url('academia.jpg');
    background-repeat: no-repeat;
    background-size: 120%;
    background-position-x: 50%;
}
h2
{
    position: relative;
    bottom: 44px;
    left: 25px;
    color: white;
}
input[type="checkbox"]
{
    position: relative;
    top: auto;
}
