*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    background-image: url('poligonos_preto_e_roxo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
table{
  position: relative;
  top: 3.5rem;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}
.text1{
  position: relative;
  left: 15rem;
  top: 2rem;
  width: 70rem;
  height: 5rem;
  background-color: rgba(255,255,255,0.418);
  border-style: solid;
  border-color: grey;
  border-radius: 20px;
  border-width: 1px;
  text-align: center;
  box-shadow: 3px 3px 10px grey;
  text-shadow: 3px 5px 10px #000;
  color: #fff;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-style: italic;
  font-size: 2.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
tr{
  border-style: solid;
  border-radius: 10px;
  border-color: rgba(255,255,255,0.2);
}
th{
  color: #fff;
  text-shadow: 3px 3px 10px #000;
  font-size: 1.1rem;
}
td{
  color: #fff;
  text-shadow: 3px 3px 10px #000;
  font-size: 1.1rem;
}
p
{
    position: relative;
    top: 1rem;
    left: 6rem;
    width: 90rem;
    height: 8rem;
    background-color: rgba(255,255,255,0.418);
    color: white;
    text-align: center;
    font-size: 5rem;
    font-family:'Courier New', Courier, monospace;
    font-style: italic;
    text-shadow: 3px 5px 10px #000;
    border-radius: 20px 0;
    box-shadow: 3px 5px 10px #999; 
}
h1{
  font-family: 'Courier New', Courier, monospace;
  font-size: 3rem;
}
.voltar {
    position: relative;
    left: 38rem;
    top: 9rem;
    margin-bottom: 1rem;
    width: 20rem;
    height: 3.8rem;
    font-size: 1rem;
    margin-top: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: rgba(255,255,255,0.418);
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    border-color: #999;
    box-shadow: 3px 2px 10px #999;
    transition: 0.2s; 
    opacity: 0.7;
  }
.voltar a 
  {
    position: relative;
    top: 0.3rem;
    text-decoration: none;
    color: #fff;
    font-style: italic;
  }
  
  .voltar:hover {outline: none; background: #5648b3; opacity: 1;}
  
  .voltar:active {
    background-color: #6a5ac4;
    box-shadow: 3px 5px #999;
    transform: translateY(4px);
  }
::-webkit-scrollbar{
  background-color: rgb(73, 73, 73);
  border-style: solid;
  border-color: rgb(51, 51, 51);
  border-width: 1px;
}
::-webkit-scrollbar-thumb{
  background-image: linear-gradient(#000000, #a1a3a6, #e3e5e8, #6a5ac4, #2e2490);
  border-radius: 8px;
}