body
{
    background-image: url('musculacao.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment: fixed;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.cima
{
    position: relative;
    left: 2%;
    margin-top: 20px;
    margin-left: 35px;
    width: 90%;
    height: 120px;
    background: rgba(255, 255, 255, 0.418);
    border-radius: 20px 0;
    box-shadow: 1px 2px 20px #000, 2px 6px 50px #000;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}
p
{
    position: relative;
    left: 50px;
    top: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #000;
    font-style: unset;
    font-size: 50px;
}
#icon-menu
{
    position: relative;
    left: 50px;
    bottom: 30px;
    width: 60px;
    height: 65px;
    margin-left: 90%;
    cursor: pointer;
}
.menu
{
    position: relative;
    right: 0;
    top: 20px;
    width: 100%;
    height: 170px;
    background-color: rgba(255, 255, 255, 0.418);
    box-shadow: 0.2px 0.2px 0.2rem;
    border-style: solid;
    border-radius: 10px;
}
.hide { transition: 1s;height: 0; }

.show{ transition: 1s;height: 0; }

.menu a
{
    position: relative;
    top: 20px;
    font-size: 25px;
    text-align: center;
    display: flex;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #000;
}
.menu a:hover
{
    text-decoration: underline;
}

.dropdown{
    width: 70px;
    height: 10px;
    display: inline-block;
    position: relative;
    left: 1310px;
    bottom: 2.75rem;

}


.dropdown button
{
    width: 80px;
    height: 79px;
    padding: 8px 18px;
    background: rgba(255, 255, 255, 0.418);
    box-shadow: 1px 2px 10px #000, 2px 6px 50px #000;
    color: #000;
    border-radius: 50px;
    transition: 0.5s;
    font-family: 'Times New Roman', Times, serif;
    font-size: 32px;
    border-color: rgba(255,255,255,0.418);
}

.dropdown button:hover
{
    background-color: #fff;
}

.dropdown div
{
    background-color: #fff;
    box-shadow: 1px 2px 20px #fff, 2px 6px 50px #fff;
    z-index: 1;
    visibility: hidden;
    position: absolute;
    min-width: 100%;
    opacity: 0;
    transition:.3s;
}

.dropdown:hover div{
    visibility: visible;
    opacity: 1;
    border-radius: 10px;
}

.dropdown div a{
    display: block;
    text-decoration: none;
    padding: 8px;
    color: #000;
    transition:.1s;
    white-space: nowrap;
    border-radius: 10px;
}

.dropdown div a:hover{
    background: rgba(161, 18, 18, 0.765);
    color: #fff;

}
#perfil
{
    position: relative;
    bottom: 10px;
    right: 20px;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    box-shadow: 20px 5px 30px #fff;
}

.container
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    z-index: 1;
}

.container .card
{
    position: relative;
    left: 11rem;
    top: 5rem;
    margin: 60px;
    width: 280px;
    height: 400px;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .card .content
{
    padding: 50px;
    transform: translateY(100px);
    opacity: 0;
    transition: 0.5s;
}
.container .card:hover .content
{
    background-image: linear-gradient(#6441A5, #2a0845);
    transform: translateY(0px);
    opacity: 1;
}
.container .card .content h2
{
    position: absolute;
    top: -30px;
    right: 30px;
    font-size: 10em;
    color: rgba(255,255,255,0.4);
    pointer-events: none;
    text-align: center;
}
.container .card .content h3
{
    font-size: 1.4em;
    color: #fff;
    z-index: 1;
}
.container .card .content p
{
    position: relative;
    left: 5px;
    font-size: 1em;
    color: #fff;
    font-weight: 100;
    text-align: center;
}
.container .card .content a
{
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 50px;
    background: rgb(255, 255, 255);
    color: #000;
    text-decoration: none;
    border-radius: 20px;
    font-weight: 500;
    box-shadow: 1px 2px 20px #fff, 1px 2px 25px rgb(255, 255, 255);
}
::-webkit-scrollbar{
    display: none;
}